/*********************
* VARIABLES
*********************/

/*********************
* COLORS
*********************/

$black: #000;
$white: #FFF;

$gray: #CCC;
$gray-light: #F7F7F7;
$gray-dark: #173443;

$blue: #0f627d;
$light-green: #b9f0e4;

$text-color: $gray-dark;
$link-color: $blue;


/*********************
* MARGINS / PADDINGS
*********************/

$element-padding: 1rem;
$grid-margin: 1.5rem;