/*********************
* GENERAL
*********************/

body {
  font-size: 1rem;
  font-family: $sans-serif;
  color: $text-color;
  background-color: $white;
}

/*********************
* LINKS
*********************/

a {
  color: $link-color;

  &:hover,
  &:focus {
    color: darken($link-color, 9%);;
  }
}


/*********************
* HEADINGS
*********************/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 700;
  line-height: 1.125;

  a {
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
  font-size: 1.125rem;
}

h4, .h4 {
  font-size: 1rem;
}

h5, .h5 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*********************
* IMAGE CONTAINERS
*********************/

.img-container {
  position: relative;
  overflow: hidden;
  display: block;

  &:before {
    content: '';
    position: relative;
    display: block;
    padding-bottom: 56.25%;
  }

  img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.compat-object-fit {
  background-size: cover;
  background-position: center center;

  img {
    opacity: 0;
  }
}

/*********************
* BREAKPOINTS
*********************/

@media screen and (min-width: 768px) {


}

@media screen and (min-width: 1024px) {


}
