/*********************
* VARIABLES
*********************/

/*********************
* COLORS
*********************/

$black: #000;
$white: #FFF;

$gray: #CCC;
$gray-light: #F7F7F7;
$gray-dark: #999;

$blue: #81CAD6;

$text-color: $white;
$link-color: $blue;


/*********************
* MARGINS / PADDINGS
*********************/
