{% extends "base.twig" %}

{% block header %}

  {% include 'partial/genre-menu.twig' with {  } %}

{% endblock %}

{% block content %}

  <div class="content-wrapper">

    <h1>Movie chart demo <span>top 50</span></h1>

    <div>
      {% include ['partial/movie-info.twig'] %}
    </div>

    <div>
      {% for post in posts %}
        {% include ['partial/tease.twig'] %}
      {% endfor %}
    </div>

  </div>

{% endblock %}