{% extends "base.twig" %}

{% block header %}

  {% include 'partial/genre-menu.twig' with {  } %}

  <div class="wrapper">
    <h1 class="archive-heading">Movie chart demo<span>top 50</span></h1>
  </div>

{% endblock %}

{% block content %}

  <div class="content-wrapper">

    <div>
      {% include ['partial/movie-info.twig'] %}
    </div>

    <div>
      {% for post in posts %}
        {% include ['partial/tease.twig'] %}
      {% endfor %}
    </div>

  </div>

{% endblock %}