{% extends "base.twig" %}

{% block header %}

  <div class="wrapper">
    <h1 class="archive-heading">Movie chart demo</h1>
    <span class="subtitle">Top 50</span>
  </div>

{% endblock %}

{% block content %}

  <script>
    const filterdata = {{ filterdata }};
  </script>
  {% include 'partial/genre-menu.twig' with {'genre_terms':genre_terms } %}

  <input id="live-search" class="live-search-input" oninput="liveSearch(this)" placeholder="Search">

  <div class="split-interface">

    <div class="movie-info-container">
        <span class="close-info-container">×</span>

        {% for post in posts %}
         {% include ['partial/movie-info.twig'] with {'index':loop.index} %}
        {% endfor %}
    </div>

    <div class="movie-list-container">
      {% for post in posts %}
        {% include ['partial/list-item.twig'] with {'rank':loop.index} %}
      {% endfor %}
    </div>

  </div>

{% endblock %}