{% extends "base.twig" %}

{% block header %}
  <a href="{{ post_type_archive_link }}">< Top 50</a>

  {% include 'partial/genre-menu.twig' with {  } %}

{% endblock %}

{% block content %}

  <div class="content-wrapper">

    <h1>{{ term_page.name }}</h1>

    <div>
    {% for post in posts %}
      {% include ['tease.twig'] %}
    {% endfor %}

    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
  </div>

{% endblock %}