# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\DIV\Projects 2023\movie_charts_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
