<div class="glass-tile">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consequat pellentesque ex, auctor pellentesque
    erat cursus et. Praesent sagittis auctor elit sit amet rhoncus. Maecenas pellentesque viverra velit vel convallis.
    Suspendisse mollis auctor arcu eu pellentesque. Donec vel tortor elit. Nulla ut mi vel quam venenatis suscipit.</p>
</div>